.section-box{
	height: 3500px;
}

.explain-box{
	width: 100%;
	height: 3300px;
	
	display: block;
}

.explain-img{
	width: 700px;
	height: 500px;
	float: right;
	
	position: sticky;
	top: 160px;
	margin-top: 160px;
	
	margin-right: 50px;
}

.explain-text{
	color: black;
	width: 650px;
	float: left;
	
	font-size: 20px;
	
	margin-left: 40px;
	margin-top: 200px;
}
